@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

/* Normal Pragmatica (regular) */
@font-face {
  font-family: "Pragmatica";
  src: url("/fonts/Pragmatica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Pragmatica Extended Medium */
@font-face {
  font-family: "Pragmatica Extended";
  src: url("/fonts/pragmatica-extended-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* --- Tailwind theme tokens --- */
@theme {
  --color-background: #f0f0f0;
  --color-w-txt: #ffffff;
  --color-b-txt: #000000;

  /* Typografi */
  --font-sans: "Pragmatica", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Pragmatica Extended", "Pragmatica", ui-sans-serif, system-ui, sans-serif;
}
body {
  background-color: var(--color-background);
}

@layer base {
  h1 {
    @apply font-display text-4xl font-medium uppercase;
  }

  h2 {
    @apply font-display text-2xl font-medium;
  }

  p {
    @apply font-sans text-base font-normal;
  }

  a {
    @apply font-display text-5xl font-medium uppercase;
  }
}

@layer components {
}
@layer utilities {
}
